:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20%;
}

html {
  display: block;
  margin: 0 auto;
}
h1 {
  margin: 0;
  font-weight: bold;
  font-size: 3.5rem;
}

h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 0.85rem;
  margin: 0;
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

p {
  display: block;
  border-radius: 4px;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
}

.projectButton {
  box-shadow: var(--box-shadow);
}

.about-paragraphs p {
  display: flex;
  text-align: center;
  font-size: 1rem;
  margin: 30px 0;
}

.contact-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contact-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.pictureWidth {
  max-width: 99%;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  padding-top: 10%;
  padding-bottom: 10%;
  text-decoration: none;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  text-decoration: none;
}

.primary-link:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.secondary-link:hover {
  color: var(--primary-color);
}

#contact {
  display: block;
}

#email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
}

#home-link {
  display: flex;
  justify-content: center;
  text-align: center;
}

#weatherAppImage {
  width: 100%;
}

@media (max-width: 576px) {
  img {
    display: none;
  }
  .apps {
    width: 100%;
    text-align: center;
  }

  .primary-link,
  .secondary-link {
    display: block;
    margin: 2px auto;
    padding: 5%;
  }
  .contact-links a {
    margin: 35px;
    padding: 15px 45px;
  }
}
