:root {
  --primary-color: #3e5641;
  --secondary-color: #f4faff;
  --tertiary-color: #9b6a6c;
  --quaternary-color: #c6a15b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
html {
  display: block;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  background-color: #e3eee6;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 20px;
  color: #d4af37;
  font-family: "Playball", cursive;
}

h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 0.85rem;
  margin: 0;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

p {
  display: block;
  border-radius: 4px;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
}

.hero {
  background-color: #e3eee6;
  min-height: 900px;
  padding-top: 30%;
  padding-bottom: 40%;
}

.text-center {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.projectButton {
  box-shadow: var(--box-shadow);
}

.about-paragraphs p {
  display: flex;
  text-align: center;
  font-size: 1rem;
  margin: 30px 0;
}

.contact-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contact-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.pictureWidth {
  max-width: 99%;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  padding-top: 10%;
  padding-bottom: 10%;
  text-decoration: none;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  text-decoration: none;
}

.primary-link:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.secondary-link:hover {
  color: var(--primary-color);
}

.project-links {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 70%;
  display: block;
}

.project-links:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.padding-top {
  padding-top: 18%;
}

.div-space {
  margin-bottom: 5%;
}

#contact {
  display: block;
}

#email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
}

#home-link {
  display: flex;
  justify-content: center;
  text-align: center;
}

.weatherAppImage {
  width: 100%;
}

@media (max-width: 576px) {
  img {
    display: none;
  }
  .apps {
    width: 100%;
    text-align: center;
  }

  .primary-link,
  .secondary-link {
    display: block;
    margin: 2px auto;
    padding: 5%;
  }
  .contact-links a {
    margin: 30px 15px;
    padding: 15px 40px;
  }

  .homepage-content-p {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}
